{% extends "bootstrap/base.html" %}
{% block title %} City Compare {% endblock %}
{% block styles %}
    {{super()}}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% macro render_field(field) %}
  {{ field.label }} {{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% block content %}
    <h1>City Compare</h1>
    <div class="well">
        <form id="cityForm" method="POST" class="form">
            {{ city_form.hidden_tag() }}
            <div class="form-group">
                {{ render_field(city_form.first) }}
                {{ render_field(city_form.second) }}
                <input type=submit value=Submit>
            </div>
        </form>
    </div>
    {% if plots %}
        {% for plot in plots %}
            <div class="well">
                {{ plot|safe }}
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#first').select2();
            $('#second').select2();
        });
    </script>
{% endblock %}